
@{
    ViewBag.Title = "ApproveRequestView";
}

<style>
    .content {
        display: none;
        padding: 20px;
    }
    .TableViewDiv {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 8px;
        margin: 20px;
    }
        .TableViewDiv table {
            border-collapse: collapse;
            width: 100%;
        }
    .requestsTable th, .requestsTable td {
        padding: 10px;
        text-align: left;
        border: 1px solid #b2dfdb;
        border-radius: 5px;
    }
    .requestsTable th {
        background-color: #e0f2f1;
        color: #000000;
    }
    .requestsTable tbody tr {
        background-color: #ffffff;
    }
        .requestsTable tbody tr:nth-child(even) {
            background-color: #ccffff;
        }
        .requestsTable tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }
</style>

<script>
    $(document).ready(function () {

        //dropdown to select options
        $('#mySelect').change(function () {
            var selectedOption = $(this).val();
            $('.content').hide();
            if (selectedOption == "1") {
                populateTablePendingRequest().then(() => {
                    $('div#pendingRequestDIV').show();
                });
            }
            if (selectedOption == "2") {
/*                populateTableApprovedRequest().then(() => {
                    $('div#approvedRequestDIV').show();
                });*/
                alert('in progress');
            }
            if (selectedOption == "3") {
/*                populateTableDisapprovedRequest().then(() => {
                    $('div#declinedRequestDIV').show();
                });*/
                alert('in progress');
            }
        });

        function populateTablePendingRequest() {
            return new Promise((resolve, reject) => {
                var URL = "/Enrollment/GetPendingEnrollments";
                getAJAXCall(URL).then((response) => {
                    if (response) {
                        var tableBody = $('#pendingRequestTable tbody');
                        tableBody.empty();
                        if (response.length === 0) {
                            $('div#EmptyListHeaderDiv').html("<h2>There are No Pending Training Applications for you</h2>");
                            $('div#EmptyListHeaderDiv').show();
                            $('div#pendingTableDIV').hide();
                            resolve();
                        }
                        else {
                            $.each(response, function (index, enrollment) {
                                var row = '<tr>' +
                                    '<td>' + enrollment.FirstName + ' ' + enrollment.LastName + '</td>' +
                                    '<td>' + enrollment.Email + '</td>' +
                                    '<td>' + enrollment.TrainingName + '</td>' +
                                    '<td>' + formatDateTime(enrollment.ClosingDate) + '</td>' +
                                    '<td>' + formatDateTime(enrollment.TrainingStartDate) + '</td>' +
                                    '<td>' + formatDateTime(enrollment.DateRegistered) + '</td>' +
                                    '<td><button id="actionBtn" value="' + enrollment.EnrollmentID + '" >Accept/Reject</button></td>' +
                                    '</tr>';
                                tableBody.append(row);
                            });
                            $('div#EmptyListHeaderDiv').hide();
                            $('div#pendingTableDIV').show();
                            resolve();
                        }
                    }
                    else {
                        toast.error("error in backend");
                        resolve();
                    }
                }).catch((error) => {
                    console.error(error);
                    toastr.error("error cannot load data");
                    reject();
                })
            });
        }

        //function to be triggered when clicking on Accept/Reject button
        $('#pendingRequestTable tbody').on("click", "#actionBtn", function () {
            var row = $(this).closest("tr");
            var selectedEnrollmentID = $(this).val();
            var selectedEmployeeName = row.find("td:eq(0)").text();
            var selectedEmployeeeEmail = row.find("td:eq(1)").text();
            var selectedTrainingName = row.find("td:eq(2)").text();
            var selectedTrainingDeadline = row.find("td:eq(3)").text();
            var selectedTrainingStartDate = row.find("td:eq(4)").text();
            var selectedDateRegistered = row.find("td:eq(5)").text();

            var enrollmentHeaderDetails = $('div#TakeActionContentDetails');
            var enrollmentTableBody = $('#EmployeeQualificationTable tbody');
            enrollmentTableBody.empty();

            //populate enrollment header details
            var bodyText = "<h6>Employee Full Name : " + selectedEmployeeName + " </h6>" +
                "<h6>Employee Email : " + selectedEmployeeeEmail + "</h6>" +
                "<h6>Training Name : " + selectedTrainingName + "</h6>" +
                "<h6>Deadline Application for Training : " + selectedTrainingDeadline + "</h6>" +
                "<h6>Training starts at : " + selectedTrainingStartDate + "</h6>" +
                "<h6>Date Employee Registered for Training :" + selectedDateRegistered + " </h6>";

            enrollmentHeaderDetails.html(bodyText);

            var URL = "/Prerequisite/GetUserPrerequisiteForEnrollment";
            var enrollmentObj = { enrollmentID: selectedEnrollmentID };
            var serverCall = new ServerCall({ url: URL, parameters: enrollmentObj, callMethod: "POST" });
            serverCall.fetchApiCall().then((response) => {
                if (response.list) {
                    if (response.list.length > 0) {
                        $.each(response.list, function (index, qualification) {
                            var row = '<tr>' +
                                '<td>' + qualification.Details + '</td>' +
                                '<td>' + qualification.FileName + '</td>' +
                                '<td> <a href="/Prerequisite/DownloadQualification?userID=' + qualification.UserID + '&prerequisiteID=' + qualification.PrerequisiteID + '" target="_blank">Download File </a></td>'
                                + '</tr>';
                            enrollmentTableBody.append(row);
                        });
                        $('#qualificationTableDIV').show();
                    } else {
                        $('#qualificationTableDIV').hide();
                        enrollmentHeaderDetails.append("<br><h2>This Training does not require any Qualifications from the applicant</h2><br>");
                    }
                    //show and hide all appropriate divs
                    $('#TakeActionHeader').html(selectedEmployeeName + " Application for Training : " + selectedTrainingName);
                    $('button#ManagerApproveBtn').attr("value", selectedEnrollmentID);
                    $('button#ManagerDeclineBtn').attr("value", selectedEnrollmentID);
                    $('#pendingTableDIV').hide();
                    $('#TakeActionPopUpDiv').show();
                    
                }
                else {
                    toastr.error("error loading page");
                }
            });

        });

        //go back button is clicked
        $(document).on("click", "button#GobackBtn", function () {
            //clear appropriate divs in popup and value in apply /decline button
            $("#TakeActionHeader").empty();
            $('#EmployeeQualificationTable tbody').empty();
            $('button#ManagerApproveBtn').attr("value", "");
            $('button#ManagerDeclineBtn').attr("value", "");
            $('#TakeActionPopUpDiv').hide();
            $('#pendingTableDIV').show();
        });

        function getAJAXCall(URL) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: URL,
                    data: null,
                    dataType: "json",
                    success: function (data) {
                        resolve(data);
                    },
                    error: function (data) {
                        reject(data);
                    }
                })
            });
        }
        function formatDateTime(date) {
            if (date) {
                var parsedDate = new Date(parseInt(date.substr(6)));
                return parsedDate.toLocaleDateString() + ' ' + parsedDate.toLocaleTimeString();
            } else {
                return 'No date';
            }
        }
        //flow
        $('#mySelect').trigger('change'); //at start to display pending requests

    });
</script>



<div id="second-container">

    <!--dropdownlist DIV-->
    <div style="text-align:right; padding:10px;">
        <label for="mySelect" style="background-color:white;">Select an option:</label>
        <select id="mySelect" class="custom-select" style="display: inline-block; margin-left:10px; ">
            <option value="1" selected>Pending Requests</option>
            <option value="2">Approved Requests</option>
            <option value="3">Declined Requests</option>
        </select>
    </div>


    <!--Pending Request-->
    <div id="pendingRequestDIV" class="content">
        <div id="headerPendingRequestDiv">Applications for your Employees</div>
        <div id="EmptyListHeaderDiv" style="display:none;"></div>
        <div id="pendingTableDIV" class="TableViewDiv" style="display:none;">
            <table id="pendingRequestTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Employee Email</th>
                        <th>Training Name Applied</th>
                        <th>Training Application Deadline Date</th>
                        <th>Training Start Date</th>
                        <th>Date Applied</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!--Accept/reject POPUP-->
        <div id="TakeActionPopUpDiv" class="content">
            <h2 id="TakeActionHeader"></h2>
            <div id="TakeActionContent">
                <div id="TakeActionContentDetails"></div>
                <div class="TableViewDiv" id="qualificationTableDIV">
                    <hr />
                    <div><h6>Please review the Employee Qualifications before Accepting or Declining</h6></div>
                    <table id="EmployeeQualificationTable" border="1" class="requestsTable">
                        <thead>
                            <tr>
                                <th>Qualification Name</th>
                                <th>File Name Uploaded</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="TakeActionOptionBtns">
                <button id="ManagerApproveBtn">Approve</button>
                <button id="ManagerDeclineBtn">Decline</button>
                <button id="GobackBtn">Go Back</button>
            </div>
        </div>
    </div>



    <!--Approved Request-->
    <div id="approvedRequestDIV" class="content">
        approvedRequest
    </div>

    <!--Declined Request-->
    <div id="declinedRequestDIV" class="content">
        declined request
    </div>


</div>