
@{
    ViewBag.Title = "ApproveRequestView";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!--page styling-->
<link rel="stylesheet" href="~/Content/MyContent/ManagerStyling/ApproveRequest.css" />

<!--Script-->
<script type="text/javascript" src="~/Scripts/MyScripts/ManagerScripts/ApproveRequest.js"></script>


<!--dropdownlist DIV-->
<span style="text-align: right; padding: 10px; border-bottom-right-radius: 20px; background-color: #89bdd3; ">
    <span><label for="mySelect" style="background-color: #89bdd3;">Select an option:</label></span>
    <span>
        <select id="mySelect" style=" margin-left: 10px; background-color: #3882d1;color:#ffffff; border-color: #ffffff; outline: none; border-radius: 10px; ">
            <option value="1" selected>Pending Requests</option>
            <option value="2">Approved Requests</option>
            <option value="3">Declined Requests</option>
        </select>
    </span>
</span>

<div id="second-container">
    <!--Pending Request-->
    <div id="pendingRequestDIV" class="content">
        <div id="EmptyListHeaderDiv" style="display:none;"></div>
        <div id="pendingTableDIV" class="TableViewDiv" style="display:none;">
            <div id="headerPendingRequestDiv"><h2>Pending Training Applications</h2></div>
            <table id="pendingRequestTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Employee Email</th>
                        <th>Training Name Applied</th>
                        <th>Training Application Deadline Date</th>
                        <th>Training Start Date</th>
                        <th>Date Applied</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!--Accept/reject POPUP-->
        <div id="TakeActionPopUpDiv" class="content">
            <h2 id="TakeActionHeader"></h2>
            <div id="TakeActionContent">
                <div id="TakeActionContentDetails"></div>
                <div class="TableViewDiv" id="qualificationTableDIV">
                    <hr />
                    <div><h6>Please review the Employee Qualifications before Accepting or Declining</h6></div>
                    <table id="EmployeeQualificationTable" border="1" class="requestsTable">
                        <thead>
                            <tr>
                                <th>Qualification Name</th>
                                <th>File Name Uploaded</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div id="TakeActionOptionBtns">
                <button id="ManagerApproveBtn">Approve</button>
                <button id="ManagerDeclineBtn">Decline</button>
                <button id="GobackBtn">Go Back</button>
            </div>
        </div>
    </div>



    <!--Approved Request-->
    <div id="approvedRequestDIV" class="content">
        <div id="headerApprovedRequestDiv"><h2>Approved Training Applications</h2></div>
        <div id="approvedEmptyListDiv" style="display:none;"></div>
        <div id="approvedTableDiv" class="TableViewDiv" style="display:none;">
            <table id="approvedRequestTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Employee Email</th>
                        <th>Training Name Applied</th>
                        <th>Training Application Deadline Date</th>
                        <th>Training Start Date</th>
                        <th>Date Applied</th>
                        <th>Manager Approval</th>
                        <th>Final Approval</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!--Declined Request-->
    <div id="declinedRequestDIV" class="content">
        <div id="headerDeclinedRequestDiv"><h2>Declined Training Applications</h2></div>
        <div id="declinedEmptyListDiv" style="display:none;"></div>
        <div id="declinedTableDiv" class="TableViewDiv" style="display:none;">
            <table id="declinedRequestTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Employee Email</th>
                        <th>Training Name Applied</th>
                        <th>Training Application Deadline Date</th>
                        <th>Training Start Date</th>
                        <th>Date Applied</th>
                        <th>Manager Approval</th>
                        <th>Final Approval</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


    <!--Spinner-->
    <div id="spinner-container"></div>

</div>