@{
    ViewBag.Title = "Manager Homepage";
}







<main>
    <h2>Index</h2>
    <h2> Welcome Manager</h2>
    <div id="userDetails"></div>


</main>


@section scripts{
    <script type="text/javascript" src="~/Scripts/MyScripts/ManagerHomeScript.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCallScripts/ServerCall.js"></script>
}

