
@{
    ViewBag.Title = "ManagerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}

<h2> WELCOME MANAGER : @currentUser.FirstName</h2>

