
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--page styling-->
<link rel="stylesheet" href="~/Content/MyContent/AdminStyling/AddNewTraining.css" />

<!--Script-->
<script type="text/javascript" src="~/Scripts/MyScripts/AdminScripts/AddNewTraining.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>


<div id="second-container">
    <div id="insertPopupDiv" class="content">
        <div id="form-div">
            <form id="sampleForm">
                <h2>Training Input Form</h2>

                <label for="TrainingName">Training Name:</label>
                <input type="text" id="TrainingName" name="TrainingName" required>

                <label for="TrainingCapacity">Training Capacity:</label>
                <input type="number" id="TrainingCapacity" name="TrainingCapacity" required>

                <label for="DeadlineRegistration">Deadline Registration:</label>
                <input type="datetime-local" id="DeadlineRegistration" name="DeadlineRegistration" required>

                <label for="StartingDate">Starting Date:</label>
                <input type="datetime-local" id="StartingDate" name="StartingDate" required>

                <label for="TrainingDuration">Training Duration(Days)</label>
                <input type="number" id="TrainingDuration" name="TrainingDuration" required />

                <label for="TrainingDescription">Training Description</label>
                <textarea id="TrainingDescription" name="TrainingDescription" rows="4" cols="50"></textarea>

                <label for="Department">Department Favoured:</label>
                <select id="Department" name="Department" required>
                    <option value="" disabled selected>Select an option</option>
                </select>

                <label>Prerequisites:</label>
                <div class="checkbox-group">
                </div>
                <button type="submit" onclick="validateForm()">Create new Training</button>
            </form>

        </div>

    </div>

</div>
































