
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!--page styling-->
<link rel="stylesheet" href="~/Content/MyContent/AdminStyling/AllUsers.css" />

<!--Script-->
<script type="text/javascript" src="~/Scripts/MyScripts/AdminScripts/AllUsers.js"></script>



<div id="second-container">

    <!--List of all employees-->
    <div id="listOfEmployeesDiv" class="content">
        <h2>List of All Users</h2>
        <div id="allEmployeesTableDiv" class="TableViewDiv">
            <table id="allEmployeesTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Department</th>
                        <th>View More Details</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!--popup view more details of user-->
    <div id="popupViewUserDiv" class="content">
        <h2 id="h2headerDetails"></h2>
        <div id="userContentDetailsDiv">

            <!--user Details-->
            <div id="userDetailsDiv"></div>
            <hr />

            <!--for displaying the roles the user has -->
            <div id="userRolesContentDiv">
                <h3>User Roles</h3>
                <div id="userRolesTableDiv" class="TableViewDiv">
                    <table id="userRolesTable" border="1" class="requestsTable">
                        <thead>
                            <tr>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <hr />

            <!--for displaying user Qualification-->
            <div id="userQualificationContentDiv">
                <div id="userQualificationHeaderDiv"></div>
                <div id="userQualificationTableDiv" class="TableViewDiv">
                    <table id="userQualificationTable" border="1" class="requestsTable">
                        <thead>
                            <tr>
                                <th>Qualification Name</th>
                                <th>File Name Uploaded</th>
                                <th>View Qualification</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />

            <!--for displaying user enrollments-->
            <div id="userEnrollmentsContentDiv">
                <div id="userEnrollmentHeaderDiv"></div>
                <div id="userEnrollmentTableDiv" class="TableViewDiv">
                    <table id="userEnrollmentTable" border="1" class="requestsTable">
                        <thead>
                            <tr>
                                <th>Training Name</th>
                                <th>Date Registered</th>
                                <th>Manager Status</th>
                                <th>Final Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Back button div-->
            <div style="padding:5px">
                <button id="goBackBtn">Go Back</button>
            </div>
        </div>
    </div>

</div>


