
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--page styling-->
<link rel="stylesheet" href="~/Content/MyContent/AdminStyling/AutomaticProcessing.css" />

<!--Script-->
<script type="text/javascript" src="~/Scripts/MyScripts/AdminScripts/AutomaticProcessing.js"></script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<!--Rendered body-->
<div id="second-container">

    <!--table of trainings available to trigger automatic processing-->
    <div id="trainingsToBeProcessed" class="content">
        <div id="emptyListHeader" style="display:none;"></div>
        <div id="trainingsToBeProcessedTableDiv" class="TableViewDiv" style="display:none;">
            <h2>Trainings to be processed</h2>
            <table id="trainingsToBeProcessedTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Training Name</th>
                        <th>Training Registration Deadline</th>
                        <th>Training Starting Date</th>
                        <th>Total Available Seats</th>
                        <th>Department Favoured</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!--popup-->
        <div id="popupStartAutoProcessingDiv" class="content">
            <div id="popupheader">
                <div id="subpopupHeader"></div>
                <h6 style="text-align:justify;">
                    In order to be considered for a Training, the employee's manager need to approve their application.
                    First priority will be given to those within the same department as the department favoured of that training.
                    Then, priority will be given based on the date Registered untill the Training number of seats is filled.
                </h6>
            </div>

            <!--table for accepted employees-->
            <div id="popupListOfAcceptedTableDiv" class="TableViewDiv">
                <h3 style="color:green; text-align:left;">Selected Employees For Training</h3>
                <table id="tableListOfAccepted" border="1" class="requestsTable">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Employee Email</th>
                            <th>Date Applied</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

            <!--table for rejected employees-->
            <div id="popupListOfRejectedTableDiv" class="TableViewDiv">
                <h3 style="color: indianred; text-align: left;">Rejected Employees For Training</h3>
                <h3 id="EmptyRejectedListHeader"></h3>
                <table id="tableListOfRejected" border="1" class="requestsTable">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Employee Email</th>
                            <th>Date Applied</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <hr />
            <div id="popupButtonDiv">
                <button id="confirmAutomaticProcessing">Confirm Automatic Processing</button>
                <button id="cancelBtn">Cancel</button>
            </div>
        </div>
    </div>

    <!--Spinner-->
    <div id="spinner-container"></div>
</div>

