@{
    ViewBag.Title = "ManageTrainingsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>

<script>

</script>

<div id="second-container">








































































</div>
