
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Content/MyContent/Register.css" />
    <script type="text/javascript" src="~/Scripts/ServerCallScripts/ServerCall.js"></script>
    <script type="text/javascript" src="~/Scripts/MyScripts/registerScript.js"></script>

</head>
<body>

    <div class="registration-container">
        <h2>Employee Registration</h2>
        <form id="registrationForm" >

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" >
            </div>


            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" >
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" >
            </div>


            <div class="form-group">
                <label for="NIC">NIC:</label>
                <input type="text" id="NIC" name="NIC" >
            </div>


            <div class="form-group">
                <label for="phoneno">Phone Number:</label>
                <input type="text" id="phoneno" name="phoneno" >
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" >
            </div>


            <div class="form-group">
                <label for="department">Department:</label>
                <select id="department" name="department">
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>
            <div class="form-group">
                <label for="managers">Manager</label>
                <select id="managers" name="managerSelected">
                    <option value="" disabled selected>Select an option</option>
                </select>
            </div>

            <button type="submit" onclick="validateForm()">Register</button>
        </form>
    </div>


</body>
</html>
