body {
    font-family: Arial, sans-serif;
    background-image: url("../../../Images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

#second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.content {
    display: none;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
}

button {
    background-color: #e0f2f1;
    border-radius: 10px;
}

    button:hover {
        transition: 0.25s;
        background: rgb(56,130,209);
        color: #fff;
    }


.TableViewDiv {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin: 20px;
}

    .TableViewDiv table {
        border-collapse: collapse;
        width: 100%;
    }

.requestsTable th, .requestsTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #b2dfdb;
    border-radius: 5px;
}

.requestsTable th {
    background-color: #e0f2f1;
    color: #000000;
}

.requestsTable tbody tr {
    background-color: #ffffff;
}


.spinner-container {
    position: relative;
}

.spinner {
    border: 2px solid #000;
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
