
<div id="trainingTable">


    <table id="trainingTable" border="1">
        <thead>
            <tr>
                <th>Training ID</th>
                <th>Training Name</th>
                <th>Capacity</th>
                <th>Closing Date</th>
                <th>Training Status</th>
                <th>Training Start Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Table body will be populated dynamically -->
        </tbody>
    </table>

    


</div>
