
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<h2>Profile</h2>
Here is your profile @currentUser.FirstName
<br />
<br />


FETCH FROM DATABASE TO GET THE Profile Details
<script>
    $(document).ready(function () {
        $('nav .nav-container a').removeClass('active');
        $('#profile').addClass('active');

        $('button#testbtn').click(function () {
            var testTrainingID = 1;
            var trainingObj = { trainingID: testTrainingID };
            var URL = "/Enrollment/TestingEmailService"
            var serverCall = new ServerCall(({ url: URL, parameters: trainingObj, callMethod: "POST" }));
            serverCall.fetchApiCall().then((response) => {
                console.log(response);
                if (response.result == "ok") {
                    toastr.success("email was sent asynchronously check logger for any errors");
                }
                else {
                    toastr.error("an error occured");
                }
            });
        });
        $('button#testHangfire').click(function () {
       
            var URL = "/Enrollment/TestingHanfireService"
            var serverCall = new ServerCall(({ url: URL, callMethod: "POST" }));
            serverCall.fetchApiCall().then((response) => {
                console.log(response);
                if (response.result == "ok") {
                    toastr.success("email was sent asynchronously check logger for any errors");
                }
                else {
                    toastr.error("an error occured");
                }
            });
        });

    });
</script>
<button id="testbtn">Click me to test if my manager get an application mail</button>
<button id="testHangfire">click me to test hangfire to test if lordnk7@gmail.com gets an email</button>

<br />
this will trigger an async email.