
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--page styling-->
<link rel="stylesheet" href="~/Content/MyContent/EmployeeStyling/GetTraining.css" />

<!--Script-->
<script type="text/javascript" src="~/Scripts/MyScripts/EmployeeScripts/GetTraining.js"></script>



<!--Mini navbar-->
<div class="navbar">
    <input type="radio" id="myTrainings" name="navbarRadio" class="myTrainings" checked>
    <label class="navLabel" for="myTrainings">My Trainings</label>

    <input type="radio" id="trainingsAvailable" name="navbarRadio" class="trainingsAvailable">
    <label class="navLabel" for="trainingsAvailable">Trainings Available</label>

    <input type="radio" id="allTrainings" name="navbarRadio" class="allTrainings">
    <label class="navLabel" for="allTrainings">All Trainings</label>
</div>


<!-- rendered Body -->
<div id="second-container">

    <!--My trainings-->
    <div id="myTrainingsContent" class="content dropdown" style="display: block;">
        <div style="text-align: right;">
            <label for="mySelect" style="background-color:white;">Select an option:</label>
            <select id="mySelect" class="custom-select" style="display: inline-block; margin-left:10px; ">
                <option value="1" selected>My Registered Trainings</option>
                <option value="2">Manager Approved Requests</option>
                <option value="3">Pending Training Requests</option>
                <option value="4">Declined Training Requests</option>
            </select>
            <button class="infoBtn" id="registeredInfobtn"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
        </div>
        <br />
        <div id="headerSelectDiv"></div>
        <hr />
        <div id="selectContentDiv">
            <div id="EmptyListHeaderdiv" style="display:none;"></div>
            <div id="myTrainingTableDiv" class="TableViewsDiv">
                <table id="myTrainingTable" border="1" class="requestsTable">
                    <thead>
                        <tr>
                            <th>Training Name</th>
                            <th>Training Start Date</th>
                            <th>Training Duration(days)</th>
                            <th>Manager Status</th>
                            <th>Final Status</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Trainings Available -->
    <div id="trainingsAvailableContent" class="content">
        <!-- Content for Trainings Available -->
        <div id="NoAvailableTrainingsForYou" style="display: none;"></div>
        <div id="tableTrainingsAvailable" class="TableViewsDiv">
            <h2>You are elligible to apply for these trainings as you have all the qualifications required</h2>
            <hr />
            <table id="availableTraining" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Training Name</th>
                        <th>Seats Available</th>
                        <th>Deadline Registration Date</th>
                        <th>Training Start Date</th>
                        <th>Duration(days)</th>
                        <th>Department Favoured</th>
                        <th>Click to Apply for training</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div id="applyPopUp" style="display: none;">
            <h2 id="trainingTitleHeader"></h2>
            <hr />
            <div id="applyBodyDiv"></div>
            <hr />
            <div id="applyOptionBtnsDiv">
                <button id="finalApplyBtn">Apply For Training</button>
                <button id="cancelApplyBtn">Cancel</button>
            </div>
        </div>
        <div id="spinner-container"></div>
    </div>

    <!--All trainings-->
    <div id="allTrainingsContent" class="content">
        <div id="divAllTrainingTable" class="TableViewsDiv">
            <h2>All trainings</h2>
            <hr />
            <table id="trainingTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Training Name</th>
                        <th>Seats Available</th>
                        <th>Deadline Registration Date</th>
                        <th>Start Date</th>
                        <th>Duration(days)</th>
                        <th>Department Favoured</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <span id="info"></span>
        </div>
        <div id="popup" style="display: none;">
            <div id="trainingName"></div>
            <hr />
            <div id="popupText"></div>
            <hr />
            <div>
                <h3>Training Description</h3>
                <div id="trainingDescription"></div>
            </div>
            <br />
            <hr />
            <div><button id="closebtn">Close</button></div>
        </div>
    </div>

    <!--modal-->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-blue">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2>My Trainings</h2>
            </header>
            <div class="w3-container">
                <h3>Options</h3>
                <hr />
                <ul>
                    <li><strong>Registered Trainings :</strong> Trainings you have been successfuly registered </li>
                    <li><strong>Manager Approved Request :</strong> Trainings Approved by your Manager but not yet approved by Admin: </li>
                    <li><strong>Pending Training Request :</strong> Trainings Not yet Approved by your Manager</li>
                    <li><strong>Declined Training Request:</strong> Trainings Declined by your Manager or by the Admin(in Automatic Processing)</li>
                </ul>
            </div>
        </div>
    </div>
</div>