@{
    Layout = null;
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}
<!DOCTYPE html>
<html>
<head>
    <title>Employee Home</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/MyContent/EmployeeHome.css">

    <script type="text/javascript" src="~/Scripts/MyScripts/EmployeeHomeScript.js"></script>
    <!--<script type="text/javascript" src="~/Scripts/ServerCallScripts/ServerCall.js"></script>-->
</head>
<body>

    <div class="dashboard-container">
        <div class="navbar">
            <div class="profile">
                <!--<img src="profile-image.jpg" alt="Profile Image">-->
                <p>@currentUser.FirstName   @currentUser.LastName</p>
            </div>


            <a class="active" id="homeLink">Home</a>
            <a id="profileLink" >Profile</a>
            <a id="viewTrainingLink">View Trainings</a>
            <a id="logoutLink">Logout</a>
        </div>


        <div class="main-content" id="mainContent">
            <!-- Content will be dynamically displayed here -->
        </div>
    </div>



</body>
</html>

