
@{
    ViewBag.Title = "Employee Homepage";
}


<body>



    <main>
        <h2>Index</h2>
        <h2> Welcome Employee</h2>
        <div id="userDetails"></div>






    </main>


    <!--how to resolve this-->

    @section scripts{
        <script type="text/javascript"  src="~/Scripts/MyScripts/EmployeeHomeScript.js"></script>
        <script type="text/javascript"  src="~/Scripts/ServerCallScripts/ServerCall.js"></script>
    }
</body>


