
@{
    ViewBag.Title = "Employee Homepage";
}






<main>
    <h2>Index</h2>
    <h2> Welcome Employee</h2>
    <div id="userDetails"></div>


</main>


@section scripts{
    <script type="text/javascript"  src="~/Scripts/MyScripts/EmployeeHomeScript.js"></script>
    <script type="text/javascript"  src="~/Scripts/ServerCallScripts/ServerCall.js"></script>
}

