@{
    Layout = null;
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}
<!DOCTYPE html>
<html>
<head>
    <title>Employee Home</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/MyContent/EmployeeHome.css">

    <script type="text/javascript" src="~/Scripts/MyScripts/EmployeeHomeScript.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCallScripts/ServerCall.js"></script>
</head>
<body>

    <div class="dashboard-container">
        <div class="navbar">
            <div class="profile">
                <img src="profile-image.jpg" alt="Profile Image">
                <p>User Name</p>
            </div>
            <a href="#" onclick="showContent('Home')" class="active" id="homeLink">Home</a>
            <a href="#" onclick="showContent('Profile')">Profile</a>
            <a href="#" onclick="showContent('ViewTrainings')">View Trainings</a>
            <a href="#" onclick="logout()">Logout</a>
        </div>
        <div class="main-content" id="mainContent">
            <!-- Content will be dynamically displayed here -->
        </div>
    </div>

    <script>
        // Initialize the view to Home
        showContent('Home');

        function showContent(contentType) {
            const mainContent = document.getElementById('mainContent');
            const navLinks = document.querySelectorAll('.navbar a');

            // Reset the 'active' class on all links
            navLinks.forEach(link => link.classList.remove('active'));

            // Set the 'active' class on the selected link
            const selectedLink = document.querySelector(`.navbar a[href="#"][onclick^="showContent('${contentType}')]`);
            if (selectedLink) {
                selectedLink.classList.add('active');
            }


        }

        function logout() {
            // Add your logout logic here
            alert('Logout button clicked!');
        }

  
    </script>

</body>
</html>

