
@{
    ViewBag.Title = "QualificationsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url("../../Images/background.jpg");
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100% 100%;
        margin: 0;
        padding: 0;
    }
    
    #second-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .content {
        display: none;
        padding: 20px;
        background-color: #ffffff;
        border-radius:15px;
    }

    .TableViewDiv {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        margin: 20px;
    }

        .TableViewDiv table {
            border-collapse: collapse;
            border-radius: 8px;
            width: 100%;
        }

    .requestsTable th, .requestsTable td {
        padding: 10px;
        text-align: left;
        border: 1px solid #b2dfdb;
        border-radius: 5px;
    }

    .requestsTable th {
        background-color: #e0f2f1;
        color: #000000;
    }

    .requestsTable tbody tr {
        background-color: #ffffff;
    }

        .requestsTable tbody tr:nth-child(even) {
            background-color: #ccffff;
        }

        .requestsTable tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }
</style>


<script>
    $(document).ready(function () {
        $('nav .nav-container a').removeClass('active');
        $('#Qualifications').addClass('active');

        function getQualifications() {
            var URL = "/Employee/GetEmployeeQualifications"; //TODO : move that to Prerequisite Controller
            var userID = @currentUser.UserID;
            var userIDObj = { userID: userID };
            var table = $("#myQualificationTable tbody");
            table.empty();
            var serverCall = new ServerCall({ url: URL, parameters: userIDObj, callMethod: "POST" });
            serverCall.fetchApiCall().then((response) => {
                var results = response.result;
                if (results && results.length > 0) {

                    $.each(results, function (index, qualification) {
                        var row = '<tr>' +
                            '<td>' + qualification.Details + '</td>' +
                            '<td>' + qualification.FileName + '</td>' +
                            '<td> <a href="/Employee/DownloadQualification?userID='+userID+'&prerequisiteID='+qualification.PrerequisiteID+'" target="_blank">Download File </a></td>'
                            +'</tr>';
                        table.append(row);
                    });
                    $('div#viewQualifications').show();
                }
                else {
                    $('div#noQualifications').show();
                }
            });
        }

        function loadAddQualifications() {
            const userID = @currentUser.UserID;
            var URL = "/Prerequisite/GetPrerequisitesNotInEmployee?userID=" + userID;
            var serverCall = new ServerCall({ url: URL, callMethod: "GET" });
            const qualificationsDropdown = document.getElementById('listOfQualifications');
            serverCall.fetchApiCall().then(response => {
                if (response.listQualifications) { // TODO : cater for when that user has all the qualifications , display accordingly
                    response.listQualifications.forEach(qualification => {
                        const option = document.createElement('option');
                        option.value = qualification.PrerequisiteID;
                        option.textContent = qualification.Details;
                        qualificationsDropdown.appendChild(option);
                    });
                    $('div#AddQualification').show();
                }
                if (response.error) {
                    toastr.error("could not load list of Qualifications");
                }
            })
            .catch(error => {
                console.error("error fetching qualifications ", error);
                toastr.error('could not load list of qualifications');
            });
        }

        $('button#btnAddQualification').click(function () {
            $('.content').hide();
            loadAddQualifications();
        });


        $('button#uploadbtn').click(function () {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
            var prerequisiteID = document.getElementById("listOfQualifications").value;
            if (prerequisiteID == "") { toastr.error("Please select a qualification"); return; }

            if (file) {
                const formData = new FormData();
                formData.append('file', file);
                formData.append('prerequisiteID', prerequisiteID);
                console.log('uploading file please wait');

                $.ajax({
                    url: '/Employee/UploadQualifications',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'File Uploaded',
                            text: 'Press OK to continue',
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location = "/Employee/QualificationsView";
                            }
                        });
                    },
                    error: function (error) {
                        console.log(error);
                        alert('an error occured check console');
                    }
                });
            }
            else {
                toastr.error("please upload your pdf file");
            }
        });

        getQualifications();
    });

</script>



<!--Rendered body-->
<div id="second-container">


    <!--No qualifications-->
    <div id="noQualifications" class="content">
        <div><h2>Oops, seems You do not have any qualifications</h2></div>
        <br />
        <br />
        <button id="btnAddQualification">Add New Qualification</button>
    </div>



    <!--Add qualifications-->
    <div id="AddQualification" class="content">
        <h2>Select your qualification and then upload the file.</h2>

        <div class="dropdown" style="padding:10px;">
            <select id="listOfQualifications">
                <option value="" disabled selected>Select an option</option>
            </select>
        </div>

        <div id="uploadForm">
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="fileInput" accept=".pdf">
                <br />
                <br />
                <button type="button" id="uploadbtn">Upload</button>
                <button id="cancelBtn">Cancel</button>
            </form>
        </div>
    </div>


    <!--view qualifications-->
    <div id="viewQualifications" class="content">
        <h2>Your Qualifications Uploaded</h2>
        <div id="qualificationTableDiv" class="TableViewDiv">
            <table id="myQualificationTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Qualification Name</th>
                        <th>File Name Uploaded</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div style="padding:20px">
             <button id="btnAddQualification">Add New Qualification</button>
        </div>
    </div>
</div>


