
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<!--page styling-->
<link rel="stylesheet" href="~/Content/MyContent/EmployeeStyling/Qualification.css" />

<!--Script-->
<script type="text/javascript" src="~/Scripts/MyScripts/EmployeeScripts/Qualification.js"></script>


<!--Rendered body-->
<div id="second-container">

    <!--No qualifications-->
    <div id="noQualifications" class="content">
        <div><h2>Oops, seems You do not have any qualifications</h2></div>
        <br />
        <br />
        <button id="btnAddQualification">Add New Qualification</button>
    </div>



    <!--Add qualifications-->
    <div id="AddQualification" class="content">
        <h2>Select your qualification and then upload the file.</h2>

        <div class="dropdown" style="padding:10px;">
            <select id="listOfQualifications">
                <option value="" disabled selected>Select an option</option>
            </select>
        </div>

        <div id="uploadForm">
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="fileInput" accept=".pdf">
                <br />
                <br />
                <button type="button" id="uploadbtn">Upload</button>
                <button id="cancelBtn">Cancel</button>
            </form>
        </div>
    </div>

    <!--update Qualification-->
    <div id="UpdateQualificationDIV" class="content">
        <h2 id="updateQualificationName"></h2>
        <br />
        
        <div id="uploadFormForUpdate">
            <form id="uploadFormForUpdateForm" enctype="multipart/form-data">
                <input type="file" id="fileInputUpdate" name="fileInputUpdate" accept=".pdf">
                <br />
                <br />
                <button type="button" id="uploadbtnForUpdate">Update</button>
                <button id="cancelBtnForUpdate">Cancel</button>
            </form>
        </div>
    </div>


    <!--view qualifications-->
    <div id="viewQualifications" class="content">
        <h2>Your Qualifications Uploaded</h2>
        <div id="qualificationTableDiv" class="TableViewDiv">
            <table id="myQualificationTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Qualification Name</th>
                        <th>File Name Uploaded</th>
                        <th>Download</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div style="padding:20px">
            <button id="btnAddQualification">Add New Qualification</button>
        </div>
    </div>
</div>


